@charset "utf-8";
/* CSS Document admin sandra */

/* Sticky footer styles
-------------------------------------------------- */
html {
  /*position: relative;
  min-height: 100%;*/
}
body {
 background-image: url(../img/ring.jpg) ;
 background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
/* background-repeat: repeat-x; */
   /*Margin bottom by footer height*/
 /*margin-bottom: 60px;*/
 /* margin: auto;
 margin-bottom: 10px; */
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}
.couleur-btn{
    background:black ;
    /* background:#630034 ; */
    border-color: mistyrose;

}
.couleur-btn:hover{
    background: mistyrose;
    transition: 3s;
    border-color: black;

}
.couleur-nav{
  background: black;
  /* background: #630034; */
}
th{
  color: black ;
  /* color: #630034 ; */
}
h1{
  color: white;
}
h3{
  color:black;
  /* color:#E8AFA0; */
}
label{
 color: black;
 /* color: #630034; */
}
fieldset{
  height: 40%;
  width: 20%;
  text-align: left;
  border-color: black;
  /* border-color: white; */
}
