@charset "utf-8";
/* CSS Document admin sandra */

/* Sticky footer styles
-------------------------------------------------- */
html {
  /*position: relative;
  min-height: 100%;*/
}
body {
background: #8f7f9;

/*background-image: url(../img/image1.jpg);
background-repeat: repeat-x;
   Margin bottom by footer height*/
 /*margin-bottom: 60px;*/
 margin: auto;
 margin-bottom: 10px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}
.couleur-btn{
    background:#630034 ;
    border-color: black;

}
.couleur-btn:hover{
    background: mistyrose;
    transition: 3s;
    border-color: black;

}
.couleur-nav{
  background: #630034;
}
th{
  color: #630034 ;
}
h1{
  color: white;
}
h3{
  color:#E8AFA0;
}
label{
 color: #630034;
}
fieldset{
  height: 40%;
  width: 20%;
  text-align: justify;
  border-color: white;
}
